<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>GLOBAL_NAME</param-name>
  	<param-value>GCC</param-value>
  </context-param>
  <!--session 登录验证用户  -->
  <servlet>
  	<servlet-name>SessionUserLogin</servlet-name>
  	<servlet-class>session.SessionUserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionUserLogin</servlet-name>
    <url-pattern>/SessionUserLogin</url-pattern>
  </servlet-mapping>
  <!--session验证防止表单重复提交 通过服务器端token和客户端token比较方法  -->
  <servlet>
  	<servlet-name>SessionUserLogin2</servlet-name>
  	<servlet-class>session.SessionUserLogin2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionUserLogin2</servlet-name>
    <url-pattern>/SessionUserLogin2</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SessionVerifyCode</servlet-name>
  	<servlet-class>session.SessionVerifyCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionVerifyCode</servlet-name>
    <url-pattern>/SessionVerifyCode</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>MyServlet</servlet-name>
  	<servlet-class>service.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>MyServlet2</servlet-name>
  	<servlet-class>service.MyServlet2</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet2</servlet-name>
    <url-pattern>/MyServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyServlet2</servlet-name>
    <!--一个已经被注册的servlet可以被多次映射  -->
    <url-pattern>/MyServlet21</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>MyServlet3</servlet-name>
  	<servlet-class>service.MyServlet3</servlet-class>
  	<init-param>
  		<param-name>name</param-name>
  		<param-value>gaochaochao</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet3</servlet-name>
    <url-pattern>/MyServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>MyServlet4</servlet-name>
  	<servlet-class>service.MyServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet4</servlet-name>
    <url-pattern>/MyServlet4</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>MyServlet5</servlet-name>
  	<servlet-class>service.MyServlet5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet5</servlet-name>
    <url-pattern>/MyServlet5</url-pattern>
  </servlet-mapping>
  <!-- 网页自动刷新 -->
  <servlet>
  	<servlet-name>MyServlet6</servlet-name>
  	<servlet-class>service.MyServlet6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet6</servlet-name>
    <url-pattern>/MyServlet6</url-pattern>
  </servlet-mapping>
  <!-- 缓存 -->
  <servlet>
  	<servlet-name>MyServlet7</servlet-name>
  	<servlet-class>service.MyServlet7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet7</servlet-name>
    <url-pattern>/MyServlet7</url-pattern>
  </servlet-mapping>
  <!--response重定向相关  -->
  <servlet>
  	<servlet-name>MyServlet8</servlet-name>
  	<servlet-class>service.MyServlet8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet8</servlet-name>
    <url-pattern>/MyServlet8</url-pattern>
  </servlet-mapping>
  <!-- 文件压缩相关 -->
  <servlet>
  	<servlet-name>MyServlet9</servlet-name>
  	<servlet-class>service.MyServlet9</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet9</servlet-name>
    <url-pattern>/MyServlet9</url-pattern>
  </servlet-mapping>
  <!-- 生成随机图片 -->
  <servlet>
  	<servlet-name>MyServlet10</servlet-name>
  	<servlet-class>service.MyServlet10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet10</servlet-name>
    <url-pattern>/MyServlet10</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>MyServlet11</servlet-name>
  	<servlet-class>service.MyServlet11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet11</servlet-name>
    <url-pattern>/MyServlet11</url-pattern>
  </servlet-mapping>
  
  <!--通过超链接将数据带给浏览器  -->
  <servlet>
  	<servlet-name>MyServlet12</servlet-name>
  	<servlet-class>service.MyServlet12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet12</servlet-name>
    <url-pattern>/MyServlet12</url-pattern>
  </servlet-mapping>
  <!-- request 提交表单相关验证 -->
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<servlet-class>service.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <!--response 输出数据编码 相关  -->
  <servlet>
  	<servlet-name>Servlet</servlet-name>
  	<servlet-class>encode.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Servlet2</servlet-name>
  	<servlet-class>encode.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Servlet3</servlet-name>
  	<servlet-class>encode.Servlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet3</servlet-name>
    <url-pattern>/Servlet3</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Servlet4</servlet-name>
  	<servlet-class>encode.Servlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet4</servlet-name>
    <url-pattern>/Servlet4</url-pattern>
  </servlet-mapping>
  <!--文件下载  -->
  <servlet>
  	<servlet-name>DownloadServlet</servlet-name>
  	<servlet-class>download.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <!--request转发实现servlet通信  -->
  <servlet>
  	<servlet-name>DispatcherServlet</servlet-name>
  	<servlet-class>dispatcher.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/DispatcherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DispatcherServlet2</servlet-name>
  	<servlet-class>dispatcher.DispatcherServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet2</servlet-name>
    <url-pattern>/DispatcherServlet2</url-pattern>
  </servlet-mapping>
  
  <!--Cookie相关  -->
  <servlet>
  	<servlet-name>CookieServlet</servlet-name>
  	<servlet-class>cookie.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/CookieServlet</url-pattern>
  </servlet-mapping>
  
  <!--session超时时间相关 单位 分钟  -->
  <session-config>
  	<session-timeout>5</session-timeout>
  </session-config>
</web-app>